body {
  background-color: black;
  color: lightGrey;
}

.container {
padding: 10% 20%;
width: 50%;

}

.home_container {
  margin: auto;
  text-align: center;
  width: 100%;
  color: lightGrey;
}

.signup_container {
  margin: auto;
  text-align: center;
  width: 100%;
  color: lightGrey;
}

.form{
  padding:20px;
  margin-left: 25%;
}

.form_item{
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.form_item input{
margin-left: 20px;
padding: 2px 10px;
text-align: center;
}

.btn {
padding: 3px;
transition: 0.4s;
}

.btn:hover {
  transform: scale(1.1);
}

/* GENERIC CLASSES  */

.inline {
  display: inline-block;
}
.float_right {
  float: right;
}

.float_right > div {
  display: inline-block;
}

.nav_item {
  display: inline;
  margin: 100px;
  text-decoration: none;
  color: lightGrey;
}
.left_nav_item {
  border-right: 1px solid grey;
  text-align: center;
}

.search_list {
  color: white;
  list-style: none;
}

.small {
  font-size: 0.9rem;
}

a:link {
  color: white;
  text-decoration: none;
  transition: .6s;
  padding: 5px;
}

 a:visited {
  color: lightGrey;
}

.exercise_container{
  margin: 40px;
}
.exercise_name {
  margin: 0px 10px;
  padding-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
