body {
  background-color: black;
  color: lightGrey;
}


.container {
margin: 5% auto;
width: 60%;

}

.child_container {
  margin: auto;
  text-align: center;
  width: 100%;
  color: lightGrey;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  vertical-align: middle;
}

.form{
  padding:20px;
  margin-left: 25%;
}

.workout_show_form{
}

.form_item{
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.left_form_item{
  float: left;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.form_item input, textarea, select{
float: right;
margin-right: 20%;
margin-left: 20px;
padding: 0px 10px;
width: 150px;
text-align: center;
}

.form_inline{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
}

.search_form{
  padding:20px;
}

.search_form > div {
  display: inline-block;
}

.login_form{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.login_input {
  margin-right: 20px;
  padding: 2px 10px;
  width: 150px;
  text-align: center;
}

.button_div {
  margin: 20px 0px ;
}

.navbar {
  text-align: center;
  display: inline-block;
  margin-top: 40px;
  width: 100%;
}

.navbar > div{
  display: inline-block;
}

.nav_item {
  margin: 100px;
  text-decoration: none;
  color: lightGrey;
}

.nav_item:hover{
  color: #269CE9;
}

.workout_show{
  display: inline-block;
}

.search_container {
  text-align: center;
}

.search_list {
  color: white;
  list-style: none;
  display: inline-block;
  margin: 0px auto
}

/* exercise show  */
.show_left {
  float: left;
  width: 50%;
}
.show_right{
 float: right;
 width: 50%;
}

.show_bottom {
 width: 100%;
}

.exercise_name {
  margin: 20px 0px;
  padding-bottom: 0px;
}
/*  */

/* GENERIC CLASSES  */

.blue_highlight {
  color: #269CE9;
  font-size: 1.2em;
}
.blue_text {
  color: #269CE9;
}

.flatiron_link {
  color: rgb(0, 170, 226);
}
.ruby_link {
  color: rgb(197, 0, 0);
}
.react_link {
  color: rgb(86, 213, 250);
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.float_right > div {
  display: inline-block;
}


.centered_text {
  text-align: center;
  padding: 40% 0;
}




a:link {
  color: white;
  text-decoration: none;
  transition: .6s;
  padding: 5px;
}

 a:visited {
  color: lightGrey;
}

 .table_center > table.center_table {
  margin-left: auto;
  margin-right: auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
