/* Card */

@media only screen and (min-width: 420px) {
  .small_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    vertical-align: middle;
  }
}


.card {
  width: 300px;
  border: 1px solid white;
  text-align: center;
  margin: 10px;
  height: 400px;
  overflow: scroll
}

.active{
  border: 1px solid #269CE9;
}

.short {
  height: 150px;
  overflow: scroll;
}

.card-body {
  height: 300px;
}

.scroll {
  overflow: scroll;
}
.card-description{
  height: 100px;
  padding: 0px 10px;
  overflow: scroll;
}

.card-calculator {
  height: 300px;
  width: 300px;
}

.card-button {
  margin: 20px;
}

@media only screen and (max-width: 420px) {
  .card {
    height: 150px;
    width: 250px;
    margin: 10px auto;
    text-align: center;
  }
  .card-description {
    display: none;
  }
  .card p, th {
    font-size: 0.8em;
    text-align: center;
  }

  li {
    text-align: left;
    margin-left: 20px;
  }

  .card-button {

  }
}
