/* Card */

.small_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  vertical-align: middle;
}

.card {
  width: 300px;
  border: 1px solid white;
  text-align: center;
  margin: 10px;
  height: 400px
}

.active{
  border: 1px solid #269CE9;
}

.short {
  height: 150px;
  overflow: scroll;
}

.card-body {
  height: 300px;
}

.scroll {
  overflow: scroll;
}
.card-description{
  height: 100px;
  padding: 10px;
  overflow: scroll;
  /* border-top: 1px solid white;
  border-bottom: 1px solid white; */
}

.card-image{
  height: 200px;
  width: 300px;
  background-color: white;
}

.card-calculator {
  height: 300px;
  width: 300px;
}

.card-button {
  margin: 20px;
}


/*  */
